html
    head
        include meta.pug
        include social_meta.pug
        link(rel="stylesheet", href="style.css")
        script(src="js/hover3D.js")
        script(src="js/redirect.js")
    body(onload="DetectAndServe()")
        .container
            .leftBlock
                h1 Brainy
                p
                    | Brainy is a game based on an ancient board game designed for one player. 
                    | Try to remove all the pegs, leaving only one on the board. 
                    | It's not as easy as you think.
                    | Challenge your mind!
                .buttons
                    a(href="https://apps.apple.com/ru/app/brainy-challenge-you-brain/id1529786675").storeButton iOS
                    a(href="https://play.google.com/store/apps/details?id=com.Froly.Brainy").storeButton Android
            .rightBlock
                .screenshot
                    .layer1
                    .layer2
                    .layer3
        script(src="js/myHover3D.js")