html
    head
        link(rel="stylesheet", href="style.css")
    body
        .container
            .leftBlock
                h1 Brainy
                p
                    | Brainy is an ancient board game for one player. 
                    | Try to leave only one peg on the board. 
                    | It's not as easy as you could think.
                    | Challenge your mind!
                .buttons
                    a(href="#").storeButton Apple Store
                    a(href="#").storeButton Google Play
            .rightBlock
                .screenshot