html
    head
        link(rel="stylesheet", href="style.css")
    body
        .container
            .leftBlock
                h1 Brainy
                p
                    | Description of the game.
                .buttons
                    a(href="#").storeButton Apple Store
                    a(href="#").storeButton Google Play
            .rightBlock
                .screenshot