meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="description" content="Brainy is a game based on an ancient board game designed for one player. Try to remove all the pegs, leaving only one on the board. It's not as easy as you think. Challenge your mind!")
meta(name="keywords" content="solitaire, pegs, brainy, brainvita, solo noble, peg solitaire, boardgame, minimalist, brain trainer, games for brain, puzzles")
title Brainy — a board game to challenge your mind