meta(property="og:url"              content="https://olegfrolov.design/" + (url ? url : "brainy"))
meta(property="og:type"             content="website")
meta(property="og:title"            content="Brainy — a board game to challenge your mind")
meta(property="og:description"      content="Try to remove all the pegs, leaving only one on the board. It's not as easy as you think. Challenge your mind!")
meta(property="og:image"            content="https://olegfrolov.design/brainy/assets/banner.jpg")