body {
  margin: 0;
  padding: 0;
  background: #dfdfdf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvitica', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
}
body .container {
  background: rgba(0,0,0,0.1);
  display: flex;
}
body .container .leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  padding-right: 192px;
}
body .container .leftBlock h1 {
  font-size: 96px;
  line-height: 120px;
  margin: 0px;
}
body .container .leftBlock p {
  font-size: 24px;
}
body .container .leftBlock .buttons {
  margin-top: 16px;
}
body .container .leftBlock .buttons .storeButton {
  line-height: 64px;
  background: #000;
  padding: 16px 32px 16px 32px;
  color: #fff;
  margin-right: 16px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
}
body .container .rightBlock .screenshot {
  width: 400px;
  height: 712px;
  background: rgba(0,0,0,0.2);
  border-radius: 16px;
}
